<ion-content class="login-content" padding>
  <ion-row class="logo-row">
    <ion-col col-8 offset-2>
      <img src="assets/icon/giddh-logo.svg"/>
    </ion-col>
  </ion-row>
  <div class="login-box">
    <form (ngSubmit)="loginWithEmail()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list>

            <ion-item [hidden]="codeAvailable">
              <ion-label floating>Login with Email</ion-label>
              <ion-input type="email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
            </ion-item>

            <ion-item [hidden]="!codeAvailable">
              <ion-label floating>Verification Code</ion-label>
              <ion-input type="text" name="code" [(ngModel)]="registerCredentials.code" [disabled]="!codeAvailable" required></ion-input>
            </ion-item>

            <!-- a hidden item for bottom border issue, Alert: don't remove this item  -->
            <ion-item [hidden]="true"></ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <div class="sign-button-wrp">
            <button large ion-button class="submit-btn" full type="submit" *ngIf="!codeAvailable" [disabled]="!registerForm.form.valid">Get Verification Code</button>
            <button large ion-button class="submit-btn" full type="submit" *ngIf="codeAvailable" [disabled]="!registerForm.form.valid">Verify Email</button>
          </div>
          <!-- <button ion-button class="register-btn" block clear (click)="createAccount()">Create New Account</button> -->
        </ion-col>
      </ion-row>

    </form>
    <ion-label text-center>OR</ion-label>

    <ion-row>
      <ion-col class="signup-col">
        <div class="sign-button-wrp">
          <button large ion-button class="submit-btn" (click)="loginWithGoogle()" color="danger" full>Login with Google</button>
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col class="signup-col">
        <div class="sign-button-wrp">
          <button large ion-button class="submit-btn" (click)="loginWithTwitter()" color="primary" full>Login with Twitter</button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="signup-col">
        <div class="sign-button-wrp">
          <button large ion-button class="submit-btn" (click)="signInWithLinkedIn()" color="primary" full>Login with Linkedin</button>
        </div>
      </ion-col>
    </ion-row> -->

  </div>

</ion-content>
