.login-content{
    .scroll-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
    
.sign-button-wrp{
    padding: 0 16px;
}