<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Switch compnay
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
   <ion-list>    
    <button ion-item *ngFor="let company of companies" (click)="switchCompany(company)">
      <h2>{{ company.name }} </h2>      
    </button>  
  </ion-list> 
</ion-content>
