<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Dashboard
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row class="logo-row">    
    <ion-col col-8 offset-2>
      <img src="assets/icon/giddh-logo.svg"/>
    </ion-col>    
  </ion-row>
  <!-- <ion-card>
    <ion-card-header>
      Doughnut Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card> -->

</ion-content>
