<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title><img id="logo" src="assets/icon/giddh-logo.svg"/></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
        <div class="subText" *ngIf=" p.title == 'Switch Company' ">{{companyName}}</div>
        <div class="subText" *ngIf=" p.title == 'Logout' ">{{userEmail}}</div>
      </button>      
    </ion-list>
  </ion-content>

</ion-menu>

<ion-spinner name="crescent" *ngIf="loading"></ion-spinner>
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>