// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$spinner-ios-circles-color: #fff;
.init-app{
    height: 100%;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .spinner-md-crescent circle {
    stroke: #fff;
}  
ion-spinner{
  position: absolute;
  z-index: 999;
  top: 10px;
  right: 10px;
}
#logo{
    height: 42px;
    float: left;
}
ion-menu{
    .subText{
        font-size: 12px;
        color: #777;
    }
}
.input-wrapper{
    width: 100%;
}