.companyName{
    font-size: 12px;
}
.tblist{
    ion-label{
        width: 100%;
    }
    .grid, .col{
        padding: 0;
    }
    .understanding{        
        text-align: left;
    }
    .understanding, .drcr{
        font-size: 12px;
        color: #999;        
    }
    .odd{
        color: #bf8b00;
    }
    .account{
        padding-left: 15px;        
        .inner{
            padding-right: 15px;
            border-bottom: 1px solid #dedede;            
            padding-bottom: 10px;
            margin: 0;
            text-align: right;
        }
        &:last-child p{
            border: none;
        }
        h2{
            font-size: 1.6rem;
            font-weight: normal;            
        }        
    }    
    .ac {
        color: #777;
        font-size: 12px;
    }
    .group {  
        ion-icon{
            color:#999;
            font-size: 12px;
        }
    }
}
.breadcrumbs{
    min-height: 34px;    
    .toolbar-ios{
        ion-title{
            padding: 0 12px 1px;
            .toolbar-title-ios{
                text-align: left;
            }
        }
    }     
    .toolbar-title-md{
        font-size: 1.5rem;
        color: #999;
    } 
    a.current{
        color: #222;
    }   
    a{
        font-size: 1.4rem;
        font-weight: normal;
        text-decoration: none;
    }
}

.card-md{
    box-shadow: none;
    background: #f5f5f5;
    border: 1px solid #dedede;    
}

.totalBalance{
    .grid{
        padding: 0 5px;        
    }
    padding: 0;
    h1{
        margin: 0;
    }
    .totalLabel{
        line-height: 30px;
    }
}
.filter{
    padding: 0 10px;
    font-weight: bold;
    .balance{
        text-align: right;
    }
}