<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      Trial Balance
      <div class="companyName">{{companyName}}</div>
    </ion-title>
  </ion-navbar>

  <ion-toolbar [hidden]="!viewCtrl.index" class="breadcrumbs">
    <ion-title>
      <a (click)="goToHome()">Home</a> / <span *ngIf="previous != 'root'"><a navPop>{{ previous }}</a> /</span> <a class="current">{{ current }}</a> 
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content overflow-scroll="true">
  
  <ion-searchbar [hidden]="viewCtrl.index" (ionInput)="getItems($event)" (ionCancel)="cancelSearch()" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}" debounce="600"></ion-searchbar>          
  
  <ion-card [hidden]="!viewCtrl.index">
    <ion-card-content class="totalBalance">
      <ion-grid>        
        <ion-row>
          <ion-col col-4 class="totalLabel">Total</ion-col>
          <ion-col col-8 text-right><h1>{{total | number:'1.2-2'}}</h1></ion-col>
        </ion-row>
      </ion-grid>  
    </ion-card-content>
  </ion-card>

  <ion-grid class="filter">
    <ion-row>
      <ion-col col-6 (click)="sort('name')" class="particular">Particular <ion-icon name="arrow-dropdown"></ion-icon></ion-col>
      <ion-col col-6 (click)="sort('amount')" text-right class="balance">Closing Balance <ion-icon name="arrow-dropdown"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list class="tblist">
    <div ion-item *ngFor="let group of (groups | OrderBy: {property: columnGroup, direction: direction})" (click)="itemTapped(group)" class="group">
      <h2>{{ group.groupName }} <ion-icon name="ios-arrow-forward"></ion-icon></h2>
      <ion-grid>
        <ion-row>
          <ion-col col-6 class="understanding" [class.odd]="group.odd == group.closingBalance.type">{{ group.understanding }}</ion-col>
          <ion-col col-6 text-right>{{ group.closingBalance.amount | number:'1.2-2' }} <span class="drcr">{{group.closingBalance.type == 'CREDIT' ? 'Cr' : 'Dr'}}</span></ion-col>
        </ion-row>  
      </ion-grid>      
    </div>

    <div *ngFor="let account of (accounts | OrderBy: {property: columnAccount, direction: direction})" class="account">
      <h2>{{ account.name }} <span class="ac">A/C</span></h2>
      <ion-grid class="inner">
        <ion-row>
          <ion-col col-6 class="understanding" [class.odd]="account.odd == account.closingBalance.type">{{ account.understanding }}</ion-col>
          <ion-col col-6 text-right>{{account.closingBalance.amount | number:'1.2-2'}} <span class="drcr">{{account.closingBalance.type == 'CREDIT' ? 'Cr' : 'Dr'}}</span></ion-col>
        </ion-row>  
      </ion-grid>      
    </div>
  </ion-list>  

</ion-content>